<h1>PIRATE</h1>
Name: <%= @pirate.name%><br/>
Weight: <%= @pirate.weight%><br/>
Height: <%= @pirate.height%><br/>

<h2>PIRATE'S SHIPS</h2>
<% @ships.each do |ship|%>
Name: <%= ship.name%><br/>
Type: <%= ship.type%><br/>
Booty: <%= ship.booty%><br/>
<%end%>
